* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: mistyrose;
}

:focus {
  outline: none;
}

body > div {
  height: calc(100% / 3);
}

input[type=number] {
  width: 100%;
  height: 100%;
  font-size: 10em;
  color: pink;
  background-color: lightblue;
  outline: none;
  border: 0;
  text-align: center;
}



::placeholder {
  color: mistyrose;
  width: 100%;
  background-color: #aad7d1;
}

